<?xml version='1.0' encoding='utf-8'?>
<widget
        id="com.phonegap.NaijaMascoteer"
        version="1.0.2"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Naija Mascots</name>
    <description>
        NaijaMascots® is a word puzzle game. Do you know who the mascot is? Then guess by filling in the empty boxes. Be sure to read about a mascot in the ‘Link About Mascots’ whenever you get a mascot right. Enjoy!
    </description>
    <author email="tolulopeibiyode@gmail.com" href="#">
        Naija Mascot Team
    </author>
    <plugin name="cordova-plugin-inappbrowser" source="npm"/>
    <plugin name="cordova-plugin-vibration" source="npm"/>
    <plugin name="cordova-plugin-dialogs" source="npm"/>
    <gap:plugin name="cordova-plugin-x-socialsharing" source="npm" />
    <preference name="orientation" value="portrait"/>
    <preference name="SplashScreen" value="screen"/>
    <preference name="permissions" value="none"/>
    <plugin name="cordova-plugin-splashscreen" source="npm" />
    <content src="index.html" />
    <icon height="48" src="images/android-icon-48x48.png" width="48"/>
    <icon height="48" platform="android" src="images/android-icon-48x48.png" width="48"/>
    <icon height="48" platform="ios" src="images/android-icon-48x48.png" width="48"/>
    <icon height="48" platform="windows" src="images/android-icon-48x48.jpg" width="48"/>
    <splash platform="android" qualifier="port-ldpi" src="res/screen/android/screen-ldpi-portrait.png" />
    <splash platform="android" qualifier="port-mdpi" src="res/screen/android/screen-mdpi-portrait.png" />
    <splash platform="android" qualifier="port-hdpi" src="res/screen/android/screen-hdpi-portrait.png" />
    <splash src="splash.png" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="AllowInlineMediaPlayback" value="true" />
</widget>
